/* .about{
    position: absolute;
width: 100px;
height: 33px;
left: 1209px;
top: 1315px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
} */
.about_section{
  
    background: #F7F7F7;
    margin-top: 50px !important;
    padding: 40px;
    margin-top: 150px !important;
}
.about-container{
    margin-top: 4rem !important;
    
}
.about {
  color: #1521cf;
  
  /* margin-top: 1rem !important; */
}
.button_about {
  background-color: #1521cf;
}
/* .icons{
    color: #1521cf;
    width: 40px;
} */
.group {
  position: absolute;
  width: 432px;
  height: 498px;
  left: 582px;
  top: 1231px;
  background: rgba(21, 33, 207, 0.14) !important;
  
}
.girl {
  position: absolute;
  width: 432px;
  height: 498px;
  left: 222px;
  top: 1399px;
  
  background: rgba(21, 33, 207, 0.14) !important;
}
.awords{
   bottom: 120px; 
  background-color: #1521cf !important;
  color: #fff;
}
.accounts {
  top: 100px;
  right: 150px;
  /* margin-bottom: 50px !important; */
  background-color: #1521cf !important;
  color: #fff;
  
}
